<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>SystemAudioVolume</key>
	<data>
	AQ==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	AA==
	</data>
	<key>bootercfg</key>
	<data>
	KAA=
	</data>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>efi-apple-payload0</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhCNDBBRUFGLTQ0
	REQtNDdENS1BOEU3LUQ2M0FFNkFGNDkwRDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMzPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcU21jRmxhc2hlci5lZmk8L3N0cmluZz48L2RpY3Q+
	PC9hcnJheT4A
	</data>
	<key>efi-apple-payload0-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAAAGgNAAAAAAAAIAMAAAAA
	AK+uQIvdRNVHqOfWOuavSQ0CAgQEZABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABTAG0AYwBGAGwAYQBz
	AGgAZQByAC4AZQBmAGkAAAB//wQA
	</data>
	<key>efi-apple-payload1</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhCNDBBRUFGLTQ0
	REQtNDdENS1BOEU3LUQ2M0FFNkFGNDkwRDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMzPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl9iYXNlLnNtYzwvc3RyaW5nPjwvZGlj
	dD48L2FycmF5PgA=
	</data>
	<key>efi-apple-payload1-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAAAGgNAAAAAAAAIAMAAAAA
	AK+uQIvdRNVHqOfWOuavSQ0CAgQEaABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AYgBhAHMAZQAuAHMAbQBjAAAAf/8EAA==
	</data>
	<key>efi-apple-payload2</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhCNDBBRUFGLTQ0
	REQtNDdENS1BOEU3LUQ2M0FFNkFGNDkwRDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMzPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcZmxhc2hlcl91cGRhdGUuc21jPC9zdHJpbmc+PC9k
	aWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload2-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAAAGgNAAAAAAAAIAMAAAAA
	AK+uQIvdRNVHqOfWOuavSQ0CAgQEbABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABmAGwAYQBzAGgAZQBy
	AF8AdQBwAGQAYQB0AGUALgBzAG0AYwAAAH//BAA=
	</data>
	<key>efi-apple-payload3</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhCNDBBRUFGLTQ0
	REQtNDdENS1BOEU3LUQ2M0FFNkFGNDkwRDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMzPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxV
	UERBVEVSU1xNVUxUSVVQREFURVJcTWFjLTI3QURCQjdCNENFRThFNjEuZXBtPC9zdHJp
	bmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-payload3-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAAAGgNAAAAAAAAIAMAAAAA
	AK+uQIvdRNVHqOfWOuavSQ0CAgQEeABcAEUARgBJAFwAQQBQAFAATABFAFwAVQBQAEQA
	QQBUAEUAUgBTAFwATQBVAEwAVABJAFUAUABEAEEAVABFAFIAXABNAGEAYwAtADIANwBB
	AEQAQgBCADcAQgA0AEMARQBFADgARQA2ADEALgBlAHAAbQAAAH//BAA=
	</data>
	<key>efi-apple-recovery</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPjhCNDBBRUFGLTQ0
	REQtNDdENS1BOEU3LUQ2M0FFNkFGNDkwRDwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PGtl
	eT5CTExhc3RCU0ROYW1lPC9rZXk+PHN0cmluZz5kaXNrMHMzPC9zdHJpbmc+PC9kaWN0
	PjxkaWN0PjxrZXk+SU9FRklEZXZpY2VQYXRoVHlwZTwva2V5PjxzdHJpbmc+TWVkaWFG
	aWxlUGF0aDwvc3RyaW5nPjxrZXk+UGF0aDwva2V5PjxzdHJpbmc+XEVGSVxBUFBMRVxG
	SVJNV0FSRVxJTTE0Mi5zY2FwPC9zdHJpbmc+PC9kaWN0PjwvYXJyYXk+AA==
	</data>
	<key>efi-apple-recovery-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAAAAAAAAAQBKgADAAAAAGgNAAAAAAAAIAMAAAAA
	AK+uQIvdRNVHqOfWOuavSQ0CAgQEQgBcAEUARgBJAFwAQQBQAFAATABFAFwARgBJAFIA
	TQBXAEEAUgBFAFwASQBNADEANAAyAC4AcwBjAGEAcAAAAH//BAA=
	</data>
	<key>efi-boot-device</key>
	<data>
	PGFycmF5PjxkaWN0PjxrZXk+SU9NYXRjaDwva2V5PjxkaWN0PjxrZXk+SU9Qcm92aWRl
	ckNsYXNzPC9rZXk+PHN0cmluZz5JT01lZGlhPC9zdHJpbmc+PGtleT5JT1Byb3BlcnR5
	TWF0Y2g8L2tleT48ZGljdD48a2V5PlVVSUQ8L2tleT48c3RyaW5nPkNFQUU0QUQxLTI0
	RkUtNDVFQS1CQkZCLTIyMTc0MDI2MDA1Mjwvc3RyaW5nPjwvZGljdD48L2RpY3Q+PC9k
	aWN0PjwvYXJyYXk+
	</data>
	<key>efi-boot-device-data</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAEA//8AAAQBKgACAAAAKEAGAAAAAABg8sgdAAAA
	ANFKrs7+JOpFu/siF0AmAFICAgQDJAD3/HS+fAvzSZFHAfQELmhCZM+HNX5EEEOtZ3cb
	MaJLOn//BAA=
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEA==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BpAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	ZDgAAAAAAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AhEPAAAW
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ZDgAAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	Wjc3QS1PU1g=
	</data>
	<key>multiupdater-retry-limits</key>
	<data>
	AQAAAAEAAAAAAAAA
	</data>
	<key>multiupdater-state</key>
	<data>
	AQAAAAEAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>prev-lang:kbd</key>
	<data>
	cGw6MzA3NjI=
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAEA//8AAAQBKgACAAAAKEAGAAAAAABg8sgdAAAA
	ANFKrs7+JOpFu/siF0AmAFICAgQDJAD3/HS+fAvzSZFHAfQELmhCZM+HNX5EEEOtZ3cb
	MaJLOn//BAA=
	</data>
	<key>tbt-options</key>
	<data>
	BA==
	</data>
</dict>
</plist>
